<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>{% block head_title %}Tiny Pencil{% endblock %}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel='stylesheet' href="{% static 'css/main.css' %}">
	{% block head_extra %}{% endblock %}
</head>
<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
 	 var js, fjs = d.getElementsByTagName(s)[0];
  	if (d.getElementById(id)) return;
  	js = d.createElement(s); js.id = id;
  	js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
 	 fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
		<div class="container">
			<a class="navbar-brand" href="index.html">TINY PENCIL</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fa fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'posts:list' %}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'posts:list' %}">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'register' %}">Register</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'login' %}">Login</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="{% url 'logout' %}">Logout</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'posts:list' %}">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	{% block header %}
    {% endblock %}
	{% include 'messages.html' %}
	<div class="container">
		<ol class="breadcrumb">
  			<li class="breadcrumb-item"><a href="{% url 'posts:list' %}">Home</a></li>
  			{% block post_detail_link %}
  			{% endblock %}
		</ol>
		{% block content %}
		{% endblock %}
	</div>
	<footer>
		<div class="container">
			<div class="row">
 				<div class="col-lg-8 col-md-10 mx-auto">
					<ul class="list-inline text-center">
						<li class="list-inline-item">
							<a href="#">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="#">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="#">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-github fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
					</ul>
					<p class="copyright text-muted">Copyright &copy; www.tinypencil.co 2018</p>
				</div>
			</div>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			$('.content-markdown').each(function(){
				var content = $(this).text();
				var mark = marked(content);
				$(this).html(mark);
			});
			$('.post-detail-item img').each(function(){
				$(this).addClass('img-fluid');
			});
			var titleItem = $('#id_title');
			$('#preview-title').text(titleItem.val());

			var contentItem = $('#id_content');
			function setContent(value){
				var markedContent = marked(value)
				$('#preview-content').html(markedContent);
				$('#preview-content img').each(function(){
					$(this).addClass('img-fluid');
				});
			};
			setContent(contentItem.val())
			contentItem.keyup(function(){
				var newContent = $(this).val();
				setContent(newContent);
			});
			$(".comment-reply-btn").click(function(event){
				event.preventDefault();
				$(this).parent().next(".comment-reply").fadeToggle();
			});
			
		});	
	</script>
</body>
</html>

